body{
    font-family: "Plus Jakarta Sans";
}
.split-background {
    background: rgb(13, 110, 253);
    background: linear-gradient(25deg, rgba(13, 110, 253, 1) 0%, rgba(9, 74, 170, 1) 50%, rgba(7, 57, 132, 1) 50%, rgba(3, 22, 51, 1) 100%) repeat fixed;
}

.min-vh-80 {
    min-height: 80vh;
}

.offcanvas {
    transition: all 0.5s ease !important;
    width: 19rem !important;
}

.fs-7 {
    font-size: 0.88rem !important;
}

.hover-item:hover {
    background: whitesmoke;
    color: black;
    transition: 0.3s ease;
}

.text-small {
    font-size: 65%;
}

.icon {
    width: 3rem;
    height: 3rem;
}

.icon-shape {
    display: inline-flex;
    padding: 12px;
    text-align: center;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
}

.accordion-button:hover {
    background-color: whitesmoke;
    color: black;
}

.dashboard-menu {
    padding: 1rem 1.25rem;
}

#toggler {
    display: none;
    position: absolute;
    right: 7%;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}

.loader {
    width: 75px;
    aspect-ratio: 4;
    --_g: no-repeat radial-gradient(circle closest-side, #ffffff 90%, #0000);
    background:
        var(--_g) 0% 50%,
        var(--_g) 50% 50%,
        var(--_g) 100% 50%;
    background-size: calc(100%/3) 100%;
    animation: l7 1s infinite linear;
}

@keyframes l7 {
    33% {
        background-size: calc(100%/3) 0%, calc(100%/3) 100%, calc(100%/3) 100%
    }

    50% {
        background-size: calc(100%/3) 100%, calc(100%/3) 0%, calc(100%/3) 100%
    }

    66% {
        background-size: calc(100%/3) 100%, calc(100%/3) 100%, calc(100%/3) 0%
    }
}