<!-- SIDEBAR START -->
<nav
  class="offcanvas offcanvas-start"
  tabindex="-1"
  id="sidebar"
  aria-labelledby="sidebarcanvas"
>
  <!-- SIDEBAR HEADER START -->
  <div class="offcanvas-header border-bottom py-3 border-1">
    <h5 class="offcanvas-title fs-4" id="sidebarcanvas">
      <span class="bi bi-book"></span>
      <span>Librarice</span>
    </h5>
    <button
      type="button"
      class="btn-close"
      data-bs-dismiss="offcanvas"
      aria-label="Close"
    ></button>
  </div>
  <!-- SIDEBAR HEADER END -->
  <!-- SIDEBAR BODY START -->
  <div class="offcanvas-body p-0">
    <div id="dashboard-sidebar" class="accordion accordion-flush my-2">
      <!-- DASHBOARD -->
      <a
        href="/dashboard"
        class="dashboard-menu hover-item d-flex align-items-center justify-content-between border-top border-bottom mt-1 mb-3 link-body-emphasis text-decoration-none"
      >
        <div class="fw-bold fs-5">
          <i class="bi bi-display"></i>
          <span>Dashboard</span>
        </div>
        <i class="bi bi-chevron-right fs-5"></i>
      </a>
      
      <!-- BOOKS -->
      <div class="accordion-item">
        <h2 class="accordion-header">
          <button
            class="accordion-button collapsed fw-bold shadow-none fs-5"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#bookcollapse"
            aria-expanded="false"
            aria-controls="bookcollapse"
          >
            <i class="bi bi-book"></i>
            <span class="ps-1">Books</span>
          </button>
        </h2>

        <div
          id="bookcollapse"
          class="accordion-collapse collapse"
          data-bs-parent="#dashboard-sidebar"
          data-bs-toggle="collapse"
        >
          <div class="accordion-body p-0">
            <div class="list-group fs-6">
              <a href="/book" class="list-group-item hover-item">
                <i class="bi bi-journals"></i>
                <span>Book List</span>
              </a>
              <a href="/book-category" class="list-group-item hover-item">
                <i class="bi bi-tags-fill"></i>
                <span>Book Category List</span>
              </a>
            </div>
          </div>
        </div>
      </div>
      <!-- STUDENTS -->
      <div class="accordion-item border-bottom">
        <h2 class="accordion-header">
          <button class="accordion-button collapsed fw-bold shadow-none fs-5" type="button" data-bs-toggle="collapse" data-bs-target="#studentcollapse" aria-expanded="false" aria-controls="studentcollapse">
            <i class="bi bi-person-vcard"></i>
            <span class="ps-1">Students</span>
          </button>
        </h2>

        <div id="studentcollapse" class="accordion-collapse collapse" data-bs-parent="#dashboard-sidebar">
          <div class="accordion-body p-0">
            <div class="list-group fs-6">
              <a href="/student" class="list-group-item hover-item">
                <i class="bi bi-people"></i>
                <span>Student List</span>
              </a>
              <a href="/section" class="list-group-item hover-item">
                <i class="bi bi-vr"></i>
                <span>Section List</span>
              </a>
            </div>
          </div>
        </div>
      </div>

      <!-- TRANSACTION -->
      <div class="accordion-item my-5 border-top border-bottom">
        <h2 class="accordion-header">
          <button class="accordion-button collapsed fw-bold shadow-none fs-5" type="button" data-bs-toggle="collapse" data-bs-target="#transactioncollapse" aria-expanded="false" aria-controls="transactioncollapse">
            <i class="bi bi-arrow-left-right"></i>
            <span class="ps-1">Book Transaction</span>
          </button>
        </h2>
        <div id="transactioncollapse" class="accordion-collapse collapse" data-bs-parent="#dashboard-sidebar">
          <div class="accordion-body p-0">
            <div class="list-group fs-6">
              <a href="/transaction/issue-book" class="list-group-item hover-item">
                <i class="bi bi-box-arrow-left"></i>
                <span>Issue books</span>
              </a>
              <a href="/transaction/return-book" class="list-group-item hover-item">
                <i class="bi bi-box-arrow-right"></i>
                <span>Return book</span>
              </a>
              <a href="/transaction/find-book" class="list-group-item hover-item">
                <i class="bi bi-search"></i>
                <span>Find Book</span>
              </a>
            </div>
          </div>
        </div>
    </div>
  </div>
  <!-- SIDEBAR BODY END -->
</nav>
<!-- SIDEBAR END -->
